:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-red: #d80020;
  --color-grey-dark: #413436;

}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: 12rem 1fr 3rem 5rem;
  padding: 0 3rem;
}

button:hover {
  opacity: .8;
}

button:focus {
  outline: 0;
}

form {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.form-input {
  display: block;
  width: 25rem;
  padding: .8rem;
  outline: 0;
  font-size: 1.1rem;
  border: 1px var(--color-grey-dark) solid;
}

.form-input:focus {
  border: 1px var(--color-red) solid;
}

.form-label {
  display: block;
  margin-top: 1.4rem;
  font-size: .9rem;
  color: var(--color-grey-dark);
}

.form-header {
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
}

.form-footer-info {
  width: 100%;
  margin-top: 2rem;
  text-align: left;
}

.form-footer-info * {
  font-size: 1rem;
}

.form-footer-btn {
  background: none;
  border: none;
  padding: 0;
}

.fake-link {
  color: var(--color-red);
  padding: 0 .4rem;
  cursor: pointer;
}

.btn-main {
  color: #FFF;
  font-size: 1.1rem;
  padding: .8rem 3.2rem;
  margin-top: 2.7rem;
  background-color: var(--color-red);
  border: none;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: end;
}

.info-container {
  padding: 3rem 5rem;
  color: #FFF;
}

.info-container-header {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

/* header */
.header-container img {
  width: 25rem;
}

.header-container {
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.header-text {
  font-size: 1.6rem;
}

/* login form */
.login-form-container {
  display: grid;
  grid-template-columns: 26.75rem 30rem;
  gap: 6rem;
  padding-bottom: .7rem;
}

/* footer */
footer {
  display: grid;
  grid-template-rows: 2.7rem auto;
  padding-bottom: 1rem;
}

.footer-links {
  gap: 2rem;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* utils */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  /* login form */
  .login-form-container {
    grid-template-columns: repeat(2, 50%);
    gap: 3rem;
    padding: 2rem 1rem;
  }

  .form-header, .form-footer-info {
    text-align: right;
  }

  .form-input {
    width: 92.5%;
  }

  .form-label {
    width: 100%;
    text-align: right;
  }

  /* info box */
  .info-container {
    padding: 1.2rem 1.75rem;
  }

  .info-container-header {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0;
  }

  form {
    align-items: start;
  }

  footer {
    gap: 1rem;
    grid-template-rows: none;
    padding: 0 1rem;
  }

  /* header */
  .form-header {
    display: none;
  }

  .header-container img {
    width: 85vw;
    min-width: 10rem;
  }

  /* login form */
  .login-form-container {
    grid-template-columns: none;
    gap: 3rem;
  }

  .form-input {
    width: 85.5vw;
  }

  .submit-container, .submit-container button {
    width: 100%;
  }

  /* info page */
  .info-container-header {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }

  /* footer */
  .footer-links {
    display: block;
    padding-top: 1rem;
  }
 
  .terms-privacy-container {
    padding: 0 1rem;
  }
}